body{
    background-color: black;
    color: aliceblue;
}
.img{
    height: 150px;
    width: 150px;
}
p{
    color: aqua;
}
table,th,td{
    border: 2px solid wheat;
    border-collapse: collapse;
}
a{
    color: aliceblue;
    text-decoration: none;
}